* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
  
}


.container{
  background: #626f81;
 width: 600px;
 min-height: 100%;
padding: 30px;
border-radius: 10px;
}

.App {
  width: 100%;
  min-height: 100vh;
  background: #f1eff0;
  display: flex;
  justify-content: center;
  padding: 50px auto;
  align-items: center;
}

form{
 padding: 20px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
justify-content: center;
 
}

form input{
  height: 40px;
  width:80%;
  font-size: 18px;
  padding: 5px 5px;
  outline: none;
  border: none;
  margin-right: 10px;
  border-radius: 10px;

}
input::placeholder {
  color: #696f77;
  letter-spacing: 1px;

}

form button{
  width: 20%;
  height: 40px;
  background-color:  crimson;
  font-size: 18px;
  font-weight: 500;
  padding: 5px 7px;
  cursor: pointer;
  outline: none;
  border: none;
margin-left: 10px;
color: white;
text-transform: uppercase;
}

form button:hover{
  border: 2px solid rgb(161, 144, 148);
 

}

.todo{
 display: flex;
 width: 80%;
 background-color: #949494;
 justify-content: space-between;
 margin: 30px 20px;
 border-radius: 10px;
 height: 40px;
}

.todo p{
  font-size: 1.2rem;
  color: white;
  padding: 8px 10px;
}

.todo i{
  color: white;
 padding: 10px 20px;
 font-size: 1.2rem;
 cursor: pointer;
}